

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Plain Light";
    color:#fff;
}
html,body{
    height: 100%;
    width: 100%;
    
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding:15vw 10vw
}
.line h1{
    font-size: 6vw;
    
    text-transform: uppercase;

}
.line{
    height: fit-content;
    overflow: hidden;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    gap:3vw;
}
#line-part1{
    display:flex;
    align-items:center;
    justify-content: flex-start;
    gap:1vw;


}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px solid #fff;
        color:#fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px solid #fff;
        color:#fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
       
        font-family: 'silk serif';
       
        -webkit-text-stroke: 0.1px  #fff;
        font-weight: 600;
        color:transparent;
        opacity: 1;
    }

    100%{
       
        font-family: 'silk serif';
       
        -webkit-text-stroke: 0.1px  #fff;
        font-weight: 600;
        color:transparent;
        opacity: 0;
    }
    
}

#line-part1 h5,#line-part1 h6{
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
}
#line-part1 h5{
    width:5vw;
    text-align: right;
}
/*  */
#main{
    position: relative;
    background-color: #030303;
}
#page1{
    height: 100vh;
    width:100%;
    background-color: #151515;
}
#page1 #nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2.3vw 5.3vw;
}
#nav #nav_part2{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:3vw;
}
#nav_part2 h4{
    font-size:1.8vw;
    font-weight: 500;
}
.hero{
width:70%;
margin-left: 28%;
height: fit-content;
overflow: hidden;
display: flex;
align-items: center;
position: relative;
z-index: 99999;

}
.hero:nth-child(2){
   margin-top: 12vh;
}
.hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
   

}
#cur{
    height: 2.3vw;
    width:2.3vw;
    border-radius: 50%;
    border : 2px solid rgb(138, 132, 132);
    
    position: fixed;
    z-index:9999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
    
}
.hero h2,.hero h3{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
   

}
.hero h2:hover {
    -webkit-text-stroke: 9px #fff;
    color:transparent;
    font-weight: 500;
}